.navigation{
  display: block;
  margin: 27px auto;
}

@media screen and (max-width: 800px) {
  .navigation{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
}
