.search__input {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #A0A0A0;
  border: none;
  outline: none;
}

.search__error-container {
  /* max-width: 1140px;
  margin: 5px 70px 0; */
  height: 23px;
  visibility: hidden;
  display: flex;
  justify-content: center;
}

.search__input-error {
  display: block;
  max-width: 1140px;
  width: 100%;
  margin: 0 70px;
  color: #FF004C;
  padding: 0;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

.search__error-container_active {
  visibility: visible;
}

.search__input::placeholder {
  color: #A0A0A0;
}


@media screen and (max-width: 400px) {
  .search__input-error{
    text-align: center;
  }

  .search__input {
    font-size: 18px;
  }
}

@media screen and (max-width: 847px) {
  .search__input-error{
    margin: 0px 30px 0;
  }

  .search__error-container {
    margin: 5px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .search__input-error{
    margin: 0px 14px 0;
  }

  .search__error-container {
    margin: 5px 0 0;
  }
}