.page-not-found{
  margin: auto;
  text-align: center;
}

.page-not-found__error-number {
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin: 0 auto 5px;
}

.page-not-found__error-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin: 0 auto 184px;
}

.page-not-found__link {
  color: #3456F3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
}