.search__button {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #FFF;
  border-radius: 48px;
  background: #3456F3;
  border: none;
  padding: 8px 13px;
  cursor: pointer;
  transition: background-color .1s ease-in-out;
}

.search__button:hover {
  background-color: rgba(53, 88, 243, 0.8);
}