.portfolio__project {
  margin: 0 0 10px;
  padding: 0 0 19px;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__project:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}