.search {
  width: 100%;
  margin: 67px 0 5px;
}

@media screen and (max-width: 768px) {
  .search {
    margin: 77px 0 2px;
  }
}

@media screen and (max-width: 400px) {
  .search {
    margin: 81px 0 2px;
  }
}