.about__road-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  color: #A0A0A0;
}

@media screen and (max-width: 550px) {
  .about__road-text {
    font-size: 11px;
    margin: 7px 0 0;
  }
}