.promo__button {
  max-width: 129px;
  max-height: 36px;
  margin: 146px auto 0 70px;
  padding: 10px 19px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: white;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: transparent;
  grid-column-start: 1;  
}