.about-me__heading {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  margin: 111px 0 66px;
  padding-bottom: 23px;
  border-bottom: 1px solid black;
  grid-column-start: 1;
  grid-column-end: 3;
}